



body {
	background: linear-gradient(to right, #42a5ff, #badeff);
}

.Contenedor {
	position: relative;
	height: 500px;
	width: 1000px;
	background-color: lightblue;
	margin: auto;
	top: 75px;
	border-radius: 35px;
	z-index: 1;
	display: flex;
	
	flex-wrap: wrap;
}


.Lado1 {
	display: inline-block;
	position: absolute;
	height: 500px;
	width: 500px;
	background: linear-gradient(to top, #0d76d6, #2890ed);
	border-radius: 35px;
	z-index: 100;
	right: 0;

}

.medicos{
	position: absolute;
	z-index: 300;
	height: 250px;
	width: 330px;
	left: 75px;
	top: 50px;
}

.esquina1{
	height: 50px;
	width: 50px;
	background: #2890ed;
	z-index: 100;
}
.esquina2{
	position: absolute;
	height: 120px;
	width: 120px;
	background-color: #0d76d6;
	bottom: 0;
	z-index: 100;
}

.img1 {
	position: absolute;
	z-index: 200;
	width: 60px;
	height: 60px;
	bottom: 0;
	margin: 10px 20px;

}

.img2 {
	position: absolute;
	z-index: 200;
	width: 60px;
	height: 60px;
	top: 0;
	right: 0;
	margin: 10px 20px;
}

.nueva {
	position: absolute;
	height: 120px;
	width: 120px;
	background-color: #2890ed;
	top: 0;
	right: 0;
	z-index: 100;
	border-radius: 35px;
}

.nueva1 {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #2890ed;
	z-index: 100;
}

.nueva2 {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #2890ed;
	z-index: 100;
	bottom: 0;
}

.nueva3{
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: #2890ed;
	z-index: 100;
	bottom: 0;
	right: 0;
}
.imagen img {

	margin: 10px;
	margin-left: 45px;
	margin-top: 20px;
	width: 50px;
	
	
}

h2 {
	margin-top: 28px;
	font-size: 33px;
	font-family: arial;
	font-weight: 100;
}

.letras {
	position: absolute;
	width: 375px;
	height: 130px;
	background-color: transparent;
	left: 75px;
	top: 100px;
}

h3 {
	margin-left: 5px;
	margin-top: 5px;
	font-size: 23px;
	font-family: serif;
	font-weight: 500;
	
}

h4 {
	margin-left: 5px;
	font-weight: 400;
	font-size: 11px;
	margin-top: 15px;
	font-family: arial;
	width: 352px;
	color: #5e5e5e;
}

.titulito {
	position: relative;
	color: #fff;
	font-family: arial;
	text-align: center;
	right: 29px;
	font-size: 17px;
	font-weight: 600;

}

.caja_texto {
	position: absolute;
	top: 270px;
	left: 90px;
	z-index: 500;

}

.textico {
	position: relative;
	color: #f0f0f0;
	background-color: transparent;
	width: 290px;
	text-align: center;
	bottom: 10px;
	font-weight: 100;
}

.Ingreso {
	margin: 20px;
	margin-top: 30px;
	font-family: arial;
}

.flex_container {
	position: absolute;
	bottom: 0;
	left: 80px;
	height: 300px;
	width: 340px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #ffffff;
	border-radius: 30px;
}

.esquina3 {
	position: absolute;
	background-color: #ffffff;
	bottom: 0;
	left: 0;
	z-index: 300;
	height: 50px;
	width: 50px;
}

.esquina4 {
	position: absolute;
	background-color: #ffffff;
	bottom: 0;
	right: 0;
	z-index: 300;
	height: 50px;
	width: 50px;
}

.datos {
	margin-bottom: 130px;
}

h6 {
	font-family: arial;
	color: #707070;
}

.form_section {
	
}

.form_input {
	padding: 3px;
	margin: 7px; 
	width: 100%;
	border: 1px solid #d1d1d1;
	border-radius: 7px;

}

.form input[type="submit"] {
	background-color: rgb(66, 132, 194);
	font-family: arial;
	font-weight: 700;
	font-color: white;
	border: 2px solid transparent;
	color: #fff;
}

a {
	font-family: arial;
	color: #707070;
	font-size: 11px;
}